.personal-projects-container{
    text-align: center;
  }
  
  .personal-projects-ul{ 
      /*Display all content inside of the ul vertically.*/
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .personal-projects-ul:first-child{  /*For first child of project ul*/
  display : flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 20px; 
}
  
  .personal-projects-list-element{
    display : flex; /*For each project in a row, flex it vertically so that the picture is on top and the link is on the bottom.*/
    flex-direction : row;
    list-style-type: none;
    justify-content: center;
    padding-bottom: 10px;
    padding-right: 25px;
    color: rgb(255, 255, 255);
    list-style-position: inside;
    align-items: center;
    padding-bottom : 40px;
  }
  .personal-projects-list-element:first-child{ /*First child of ul*/
    display : flex; 
    flex-direction : row;
    justify-content: center;
    align-items: center;
    list-style-position: inside;
    list-style-type: none;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-bottom : 40px;
    color: rgb(255, 255, 255);
    position : relative;
    left : -70px;
  }
  
  .personal-projects-img-link{
    /**/
  }

  .personal-projects-link{
    color: rgb(226, 226, 226);
    text-decoration: none;
    padding-right : 30px;
  }

  .personal-projects-demo-img{
        max-width: 100%; /*Keep max width at 100%, we will use this to be able to scale our image down while keeping the aspect ratio the same.*/
        width : 600px;
        object-fit: contain;
        padding-bottom : 20px;
  }
  
  .personal-projects-link:visited{
    text-decoration: none;
  }

