@import url('https://fonts.googleapis.com/css2?family=Asar&family=Lato&family=Metal+Mania&family=Nosifer&display=swap');
*{ /*Reset all padding and margin setting so that divs expand all the way to edge of screen. */
  padding : 0;
  margin : 0;
}

.html {
  background-color: rgb(196, 127, 0);
  background-image: url(images/photo-1623150502742-6a849aa94be4.avif);
  background-blend-mode: multiply;
  height: 100%;
}

/*Header Section for all pages*/
.headerBar{
  background-image: url(images/photo-1623150502742-6a849aa94be4.avif);
  background-color: rgb(184, 120, 3);
  background-blend-mode: multiply;
  display : flex;
  flex-direction: column;
  align-items: center;
  margin-bottom : 20px;
  height : 150px;
  width: 100%;
}

.img-div{
  text-align : center;
}

.header-text {
  color : white;
  font-family: Lato;
  text-align: center;
  font-size: 40px;
  margin-top : 30px;
}

.nav-header {
  padding-top: 1.0em; /*Was 1.5 for old image*/
  font-family: Lato;
  color: rgb(211, 204, 204);
  text-decoration: underline;
  text-decoration-color: rgba(238, 130, 41, 0.2);
  font-size: 27px;
}

.header-nav{
  display : flex;
  justify-content: center;
}

.home-header-ul{
  padding-bottom: 1.2em;
  padding-top : 20px;
}

.header-list-item{
  text-align: center;
  display: inline;
  padding: 5px;
  padding-right: 20px;
}

.header-list-link{
  font-family: Asar;
  text-decoration: underline;
  color: rgb(235, 235, 235);  
  font-size: 1.2em;
}
/*--------------------------*/

.home-img {
  width: 300px; /*Was 300 for old image*/
  height: 375px; /*Was 200 for old image*/
  border-radius: 8px;
  border-radius : 20%;
  padding-top: 10px;
}

.home-intro-text-div{
  padding-top: 40px;
  text-align: center;
}

.home-intro-text{
  color : white;
  font-weight: lighter;
}

.footer-container {
  display: flex;
  margin: 0 auto;
  width: 50%;
}

.footer-text {
  font-family: Asar;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 10em;
  padding-left: 16em;
  padding-top: 1em;
  font-size: 1.2em;
  position : relative;
  right : 10px;

}

.footer-ul {
  width: 20em;
  padding: 0px;
  list-style-type: none;
  position : relative;
  right : 10px;
}


.ul-list-element-footer {
  float: left;
}

.ul-list-element-footer:last-child{
  position: relative; /*Edit position relative to its original position.*/
  bottom: 25px; /*From bottom, 25px*/
  left: 5px;
}

/**------------------------------About Me------------------------------**/
.about-me-body, .random-body{
  overflow: hidden;
}

.aboutme-section-container{
  text-align: center;
  height : 440px;
}

.aboutme-intro-text{
  font-family: Asar;
  color: rgb(209, 209, 209);
  padding-bottom : 20px;
}

.about-me-skills-div{
  display : flex;
  flex-direction : column;
  justify-content: center;
  width : 100%;
  list-style-type: none;
  position : relative;
}

.education-section-text{
  font-family: Asar;
  color: rgb(209, 209, 209);
  position: relative;
  top:-10px;
  padding-bottom : 15px;
}

.aboutme-section-header{
  font-family: Lato;
  color: rgb(206, 206, 206);
  text-decoration: underline;
  text-decoration-color: rgba(238, 130, 41, 0.2);
  font-size: 32px;
  padding-bottom : 20px;
  
}

.aboutme-section-header-technical-skills{
  font-family: Lato;
  color: rgb(206, 206, 206);
  text-decoration: underline;
  text-decoration-color: rgba(238, 130, 41, 0.2);
  font-size: 32px;
  
}

.aboutme-section-text{
  font-family: Asar;
  color: rgb(212, 212, 212);
  text-decoration: underline;
  padding-top : 5px;
}

.programming-languages-ul, .web-development-ul, .tools-ul{
  padding-left : 35px;
}

.programming-languages-list-item, .web-development-list-item, .tools-list-item{
  padding-right: 3.5em; 
  color: white;
  list-style-position: inside;
  padding-bottom : 5px;
}

.about-me-footer-container{
  position: relative;
  bottom: 110px;
  display: flex;
  margin: 0 auto;
  width: 50%;
  padding-right: 40px;
}

/**------------------------------Random Page------------------------------**/

.random-section-container{
  text-align: center;
  width: 100%;
}

.random-section-text{
  color: rgb(206, 206, 206);
  font-size: 1.1em;
  padding-bottom : 30px;
}

.kronii-img-smack-counter{
  display : flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.smack-counter-text{
  align-items: center;
  width : 200px;
  height : 50px;
  color : rgb(7, 7, 7);
}

.random-section-kronii-image{
  border-radius: 50px;
  padding-bottom: 1.1em;
  animation-delay : 500ms;
}

.smack-button-div{
  padding-top : 15px;
  padding-left : 200px;
}

#random-button{
  height : 30px;
  width : 50%;
}

/**------------------------------Portfolio------------------------------**/
.personal-projects-container{
  text-align: center;
}

.personal-projects-ul{ 
    /*Display all content inside of the ul vertically.*/
  display : flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.personal-projects-ul:first-child{  /*For first child of project ul*/
display : flex;
flex-direction: column;
justify-content: space-evenly;
padding-top: 20px; 
}

.personal-projects-list-element{
  display : flex; /*For each project in a row, flex it vertically so that the picture is on top and the link is on the bottom.*/
  flex-direction : row;
  list-style-type: none;
  justify-content: center;
  padding-bottom: 10px;
  padding-right: 25px;
  color: rgb(255, 255, 255);
  list-style-position: inside;
  align-items: center;
  padding-bottom : 40px;
}
.personal-projects-list-element:first-child{ /*First child of ul*/
  display : flex; 
  flex-direction : row;
  justify-content: center;
  align-items: center;
  list-style-position: inside;
  list-style-type: none;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-bottom : 40px;
  color: rgb(255, 255, 255);
  position : relative;
  left : -70px;
}

.personal-projects-link{
  color: rgb(226, 226, 226);
  text-decoration: none;
  padding-right : 30px;
}

.personal-projects-demo-img{
      max-width: 100%; /*Keep max width at 100%, we will use this to be able to scale our image down while keeping the aspect ratio the same.*/
      width : 600px;
      object-fit: contain;
      padding-bottom : 20px;
}

.personal-projects-link:visited{
  text-decoration: none;
}

/**------------------------------Contact------------------------------**/
.contact-ul-div{
  width : 100%;
  padding-top : 100px;
}

.contact-items-ul{
  display : flex;
  flex-direction: column;
  align-items: center;
  position : relative;
  bottom : 120px;
}

.contact-list-item{
  display : flex;
  align-items: center;
  padding-top : 45px;
  font-size : 20px;
  font-weight : 500;
}

.linkedin-icon {
  width: 50px;
  padding-left: 10px;
}

.email-icon {
  width: 50px;
}

.github-icon{
  width: 50px;
  padding-left: 10px;
}

.contact-text-link{
  padding-left : 20px;
  text-decoration: none;
  color : white;
}